// -----------------------------------
// Font face
// -----------------------------------

/* Open sans */

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-300.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-300italic.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-300italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-regular.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-italic.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-600.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-600italic.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-600italic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-700.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-700italic.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-700italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-800.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:    url('../fonts/open-sans/open-sans-v13-latin-ext_latin-800italic.woff2') format('woff2'), 
            url('../fonts/open-sans/open-sans-v13-latin-ext_latin-800italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

/* Graphik */

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-Super-Web.woff2') format('woff2'),
         url('../fonts/graphik/Graphik-Super-Web.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src:    url('../fonts/graphik/Graphik-Black.eot');
    src:    url('../fonts/graphik/Graphik-Black.eot?#iefix') format('embedded-opentype'),
            url('../fonts/graphik/Graphik-Black.woff') format('woff'),
            url('../fonts/graphik/Graphik-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-Light-Web.woff2') format('woff2'),
         url('../fonts/graphik/Graphik-Light-Web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
