// -----------------------------------
// asset paths
// -----------------------------------

$g-image-path: '../../images/';
$g-font-path: '../../fonts/';


// -----------------------------------
// Units
// -----------------------------------

$g-bu: 8; // Base unit
$g-hbu: 4; // Base unit


// -----------------------------------
// Animation
// -----------------------------------

$g-anim-hover: .1s;


// -----------------------------------
// Grid
// -----------------------------------
// TODO
$grid-columns: 12 !default;
$global-gutter: $g-bu * 5 + px !default;
$g-gutter: 90px; // Global gutter unit (Must be a px value)
