// -----------------------------------
// Global sizing
// -----------------------------------

$g-em-base: 16px;
$g-line-height: 1.2;


// -----------------------------------
// Modular scale Typography
// -----------------------------------
$major-second: 1;

$ms-base: rem($g-bu * 2);
$ms-fluid: false;
$ms-ratio: $major-second;


// -----------------------------------
// Fonts
// -----------------------------------

$g-font-graphik: Graphik, OpenSans, Helvetica, Arial, sans-serif;
$g-font-opensans: OpenSans, Helvetica, Arial, sans-serif;
$g-font-helvetica: Helvetica, Arial, sans-serif;
$g-font-menlo: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

$g-font-primary: $g-font-graphik;
$g-font-secondary: $g-font-opensans;
$g-font-tertiary: $g-font-helvetica;


$kss-font-body             : $g-font-graphik;
$kss-font-graphik		   : $g-font-graphik;
$kss-font-code             : $g-font-menlo;


$kss-font-size             : 16px;

// -----------------------------------
// Vertical Rhythm
// -----------------------------------

$kss-vertical-rhythm       : $kss-font-size * 1.5;
