html {
  height: 100%;
}
#kss-node {
  min-height: 100%;
}
.kss-style {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.kss-style a {
  color: #4183c4;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.1s;
}
.kss-style a:visited {
  color: #4183c4;
}
.kss-style a:hover,
.kss-style a:focus {
  color: #008cff;
  text-decoration: underline;
}
.kss-style a:hover,
.kss-style a:active {
  outline: 0;
}
.kss-style p {
  margin: 12px 0 24px 0;
  color: #444;
}
.kss-style h1,
.kss-style h2,
.kss-style h3,
.kss-style h4,
.kss-style h5,
.kss-style h6 {
  margin: 25px 0 40px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
  line-height: 1.15em;
}
.kss-style h4,
.kss-style h5,
.kss-style h6 {
  font-weight: bold;
}
.kss-style h1 {
  font-size: 40px;
  margin-top: 40px;
}
.kss-style h2 {
  font-size: 36px;
}
.kss-style h3 {
  font-size: 34px;
}
.kss-style h4 {
  font-size: 32px;
}
.kss-style h5 {
  font-size: 30px;
}
.kss-style h6 {
  font-size: 28px;
}
.kss-style blockquote {
  color: #666;
  margin: 0;
  padding-left: 24px;
  border-left: 0.5em #d9d9d9 solid;
}
.kss-style hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #e6e6e6;
  margin: 24px 0;
  padding: 0;
}
.kss-style pre,
.kss-style code,
.kss-style kbd,
.kss-style samp {
  font-family: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
  color: #333333;
  font-size: 14px;
  line-height: 1.4;
}
.kss-style pre {
  white-space: pre;
  overflow: scroll;
  padding: 6px 0;
}
.kss-style ins {
  color: #222;
  background: #ff9;
  text-decoration: none;
}
.kss-style mark {
  color: #222;
  background: #ff0;
  font-weight: bold;
}
.kss-style sub,
.kss-style sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.kss-style sup {
  top: -0.5em;
}
.kss-style sub {
  bottom: -0.25em;
}
.kss-style ul,
.kss-style ol {
  margin: 24px 0;
  padding: 0 0 0 24px;
}
.kss-style li p:last-child {
  margin: 0;
}
.kss-style dd {
  margin: 0 0 0 24px;
}
.kss-style img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.kss-style table {
  border-collapse: collapse;
  border-spacing: 0;
}
.kss-style td {
  vertical-align: top;
}
@media print {
  .kss-style a,
  .kss-style a:visited {
    text-decoration: underline;
  }
  .kss-style hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  .kss-style a[href]:after {
    content: " (" attr(href) ")";
  }
  .kss-style a[href^="javascript:"]:after,
  .kss-style a[href^="#"]:after {
    content: "";
  }
  .kss-style abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .kss-style pre,
  .kss-style blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  .kss-style tr,
  .kss-style img {
    page-break-inside: avoid;
  }
  .kss-style img {
    max-width: 100% !important;
  }
  .kss-style p,
  .kss-style h2,
  .kss-style h3 {
    orphans: 3;
    widows: 3;
  }
  .kss-style h2,
  .kss-style h3 {
    page-break-after: avoid;
  }
}
#kss-node {
  margin: 0;
  padding: 20px;
}
#kss-node * {
  box-sizing: border-box;
}
@media screen and (min-width: 769px) {
  #kss-node {
    padding: 0;
    display: flex;
    flex-wrap: none;
  }
}
#kss-node .kss-main {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
@media screen and (min-width: 769px) {
  #kss-node .kss-main {
    width: 80%;
    padding: 0 40px 0 120px;
  }
}
#kss-node .kss-sidebar {
  border-bottom: 1px solid #ddd;
  background: #fafafa;
}
@media screen and (min-width: 769px) {
  #kss-node .kss-sidebar {
    width: 20%;
    padding: 0 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
  }
}
@media screen and (min-width: 769px) {
  #kss-node .kss-doc-title {
    font-size: 1.5em;
  }
}
#kss-node .kss-chrome-logo {
  width: 60px;
  height: 60px;
}
#kss-node .kss-header:hover {
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  #kss-node .kss-header,
  #kss-node .kss-nav {
    margin-top: 2em;
  }
}
#kss-node .kss-header {
  display: flex;
  align-items: center;
}
#kss-node .kss-header .kss-doc-title {
  margin: 0 0 0 20px;
}
#kss-node .kss-nav__menu {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  list-style-type: none;
}
#kss-node .stuck {
  top: 0;
  position: fixed;
}
#kss-node .kss-nav__menu-item {
  display: inline-block;
  padding-right: 24px;
  font-size: 14px;
  margin-bottom: 5px;
}
#kss-node .kss-nav__menu-item .kss-nav__menu-item {
  margin-bottom: 0;
}
#kss-node .kss-nav__menu-item a {
  color: #364149;
}
#kss-node .kss-nav__menu-item a:hover {
  color: #008cff;
}
@media screen and (min-width: 769px) {
  #kss-node .kss-nav__menu-item {
    display: list-item;
    padding-right: 0;
  }
}
#kss-node .kss-nav__menu-child {
  display: none;
}
@media screen and (min-width: 769px) {
  #kss-node .kss-nav__menu-child {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
  }
  #kss-node .kss-nav__menu-child li:last-child {
    margin: 0;
    padding: 0 0 10px;
  }
}
#kss-node .kss-nav__ref {
  color: #364149;
  display: inline-block;
  margin-right: 6px;
}
#kss-node .kss-nav__menu-child .kss-nav__ref {
  font-weight: normal;
}
#kss-node {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* Specify class=linenums on a pre to get line numbering */
}
#kss-node .kss-expando {
  display: inline-block;
  text-indent: -10000px;
  height: 25px;
  width: 25px;
  position: absolute;
  right: -24px;
  top: -22px;
  border-radius: 3px;
  transition: background linear .1s;
}
#kss-node .kss-expando:hover {
  background: #b6cfe8;
  cursor: ne-resize;
}
#kss-node .kss-expando:hover:after {
  border-color: transparent #fff transparent transparent;
}
#kss-node .kss-expando:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #dcdcdc transparent transparent;
  position: absolute;
  top: 6px;
  right: 6px;
  transition: color linear .1s;
}
#kss-node iframe {
  width: 100%;
  border: 1px solid #ddd;
  height: 100%;
}
#kss-node iframe.kss-is-expanded {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
#kss-node iframe.kss-no-border {
  border: 0;
}
#kss-node iframe.animate-in {
  will-change: transform, opacity;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#kss-node .kss-section {
  max-width: 100%;
  margin-bottom: 70px;
}
#kss-node .kss-title {
  margin-bottom: 0;
}
#kss-node .kss-title__ref {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}
#kss-node .kss-title__ref:before {
  content: 'Section ';
}
#kss-node .kss-title__permalink {
  display: block;
  color: #000;
  text-decoration: none;
}
#kss-node .kss-title__permalink:hover,
#kss-node .kss-title__permalink:focus,
#kss-node .kss-title__permalink:active {
  color: #4183c4;
}
@media screen and (min-width: 607px) {
  #kss-node .kss-title__permalink:hover .kss-title__permalink-hash,
  #kss-node .kss-title__permalink:focus .kss-title__permalink-hash,
  #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
    display: inline;
  }
}
#kss-node .kss-title__permalink-hash {
  display: none;
  color: #ccc;
}
#kss-node .kss-parameters {
  display: table;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
#kss-node .kss-parameters__item {
  display: table-row;
}
#kss-node .kss-parameters__name {
  display: table-cell;
  padding-right: 20px;
}
#kss-node .kss-parameters__description {
  display: table-cell;
}
#kss-node .kss-modifier__wrapper {
  border-top: 1px solid #ccc;
  padding: 0 0 40px;
  margin-top: 20px;
}
#kss-node .kss-modifier__heading {
  font-size: 26px;
  line-height: 30px;
  color: #444;
}
#kss-node .kss-modifier__default-name {
  font-weight: bold;
  margin-bottom: 12px;
}
#kss-node .kss-modifier__name {
  float: left;
  padding-right: 10px;
  font-weight: bold;
}
#kss-node .kss-modifier__description {
  margin-bottom: 12px;
}
#kss-node .kss-modifier__example {
  clear: left;
  padding: 1px 0;
  margin: 0 0 70px 0;
}
#kss-node .kss-modifier__example:last-child {
  margin-bottom: 0;
}
#kss-node .kss-code__name {
  float: none;
  margin: 0 0 10px 0;
  font-weight: bold;
}
#kss-node .kss-tarp {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  height: 100%;
}
#kss-node .kss-resizable {
  width: 425px;
  min-width: 320px !important;
  margin-top: 44px;
  position: relative;
}
#kss-node .kss-resizerHoriz {
  position: absolute;
  width: 21px;
  right: -23px;
  color: #dcdcdc;
  font-size: 23px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  padding-top: 3px;
  height: calc(94%);
  top: 1px;
  text-align: center;
  transition: background linear .1s, color linear .1s;
  border-radius: 3px;
}
#kss-node .kss-resizerHoriz:hover {
  cursor: ew-resize;
  background: #b6cfe8;
  color: #fff;
}
#kss-node .kss-resizerHoriz:after {
  content: '||';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 5px;
}
#kss-node .kss-iframe-dimension {
  position: absolute;
  left: 0;
  margin: auto;
  width: 230px;
  top: -32px;
  font-size: 15px;
}
#kss-node .kss-width,
#kss-node .kss-height {
  display: inline;
  width: 60px;
  text-align: center;
  font-size: 14px;
  padding: 0 6px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}
#kss-node .kss-resizerVert {
  position: absolute;
  width: 100%;
  color: #dcdcdc;
  font-size: 23px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  padding-top: 3px;
  height: 21px;
  text-align: center;
  transition: background linear .1s, color linear .1s;
  bottom: -22px;
  border-radius: 3px;
}
#kss-node .kss-resizerVert:hover {
  cursor: ns-resize;
  background: #b6cfe8;
  color: #fff;
}
#kss-node .kss-resizerVert:after {
  content: '||';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  transform: rotate(90deg);
}
#kss-node .kss-resizerHoriz-width {
  position: absolute;
  color: #444;
  right: -50px;
  font-size: 15px;
  margin-top: 4px;
  width: 200px;
  top: -26px;
  text-align: right;
  right: 34px;
}
#kss-node button.kss-style {
  background: #fff;
  border: 0;
  color: #dcdcdc;
  font-size: 14px;
  padding: 0px 10px 0px;
  margin: 0 5px;
  border-radius: 4px;
  height: 26px;
  transition: background linear .1s, color linear .1s;
}
#kss-node button.kss-style:hover {
  background: #b6cfe8;
  color: #fff;
  cursor: pointer;
}
#kss-node button.kss-code__name {
  border: 1px solid #ccc;
  border-radius: 0;
  color: #444;
  margin: 0;
  padding: 4px 13px;
  display: inline-block;
  height: auto;
  margin-bottom: 14px;
}
#kss-node .kss-struc-data h3 {
  color: #222;
  margin-bottom: 10px;
  font-size: 26px;
}
#kss-node .kss-struc-data ul {
  padding: 0 0 0 10px;
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
}
#kss-node .kss-struc-data ul ul {
  padding-left: 24px;
  margin-bottom: 0;
}
#kss-node .kss-struc-data ul span {
  font-weight: normal;
}
#kss-node .kss-markup {
  margin: -1px 0 24px 0;
  margin-bottom: 150px;
}
#kss-node .kss-markup pre {
  margin: 0;
}
#kss-node .kss-github {
  display: none;
}
@media screen and (min-width: 501px) {
  #kss-node .kss-github {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
#kss-node .kss-github img {
  border: 0;
}
#kss-node .prettyprint {
  background: #1d1f21;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}
#kss-node .pln {
  color: #c5c8c6;
}
#kss-node ol.linenums {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #969896;
}
#kss-node li.L0,
#kss-node li.L1,
#kss-node li.L2,
#kss-node li.L3,
#kss-node li.L4,
#kss-node li.L5,
#kss-node li.L6,
#kss-node li.L7,
#kss-node li.L8,
#kss-node li.L9 {
  padding-left: 1em;
  background-color: #1d1f21;
  list-style-type: decimal;
}
@media screen {
  #kss-node {
    /* string content */
    /* keyword */
    /* comment */
    /* type name */
    /* literal value */
    /* punctuation */
    /* lisp open bracket */
    /* lisp close bracket */
    /* markup tag name */
    /* markup attribute name */
    /* markup attribute value */
    /* declaration */
    /* variable name */
    /* function name */
  }
  #kss-node .str {
    color: #b5bd68;
  }
  #kss-node .kwd {
    color: #b294bb;
  }
  #kss-node .com {
    color: #969896;
  }
  #kss-node .typ {
    color: #81a2be;
  }
  #kss-node .lit {
    color: #de935f;
  }
  #kss-node .pun {
    color: #c5c8c6;
  }
  #kss-node .opn {
    color: #c5c8c6;
  }
  #kss-node .clo {
    color: #c5c8c6;
  }
  #kss-node .tag {
    color: #cc6666;
  }
  #kss-node .atn {
    color: #de935f;
  }
  #kss-node .atv {
    color: #8abeb7;
  }
  #kss-node .dec {
    color: #de935f;
  }
  #kss-node .var {
    color: #cc6666;
  }
  #kss-node .fun {
    color: #81a2be;
  }
}
