// ------------------------------------------------------------------------------
//   @group Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
@kss-colors-background : #fff;
@kss-colors-foreground : #444;
@kss-colors-heading : #222;
@kss-colors-quotes : #666;
@kss-colors-link : #4183c4;
@kss-colors-link-visited : #4183c4;
@kss-colors-link-hover : #008cff;
@kss-colors-link-active : #faa700;
@kss-font-body : 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
@kss-font-code : Menlo,
'Ubuntu Mono',
'Lucida Console',
'Courier New',
Courier,
monospace;
@kss-font-size : 16px;
@kss-vertical-rhythm : @kss-font-size * 1.5;
// ------------------------------------------------------------------------------
// Wrap all of this template's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------
.kss-style {
    color: @kss-colors-foreground;
    font-family: @kss-font-body;
    font-size: @kss-font-size;
    line-height: @kss-vertical-rhythm;
    a {
        color: @kss-colors-link;
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.1s;
        &:visited {
            color: @kss-colors-link-visited;
        }
        &:hover,
        &:focus {
            color: @kss-colors-link-hover;
            text-decoration: underline;
        }
        &:hover,
        &:active {
            outline: 0;
        }
    }
    p {
        margin: (@kss-vertical-rhythm/2) 0 @kss-vertical-rhythm 0;
        color: @kss-colors-foreground;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 25px 0 40px 0;
        font-family: @kss-font-body;
        color: @kss-colors-heading;
        line-height: 1.15em;
    }
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
    h1 {
        font-size: @kss-font-size * 2.5;
        margin-top: 40px;
    }
    h2 {
        font-size: @kss-font-size * 2.25;
    }
    h3 {
        font-size: @kss-font-size * 2.125;
    }
    h4 {
        font-size: @kss-font-size * 2;
    }
    h5 {
        font-size: @kss-font-size * 1.875;
    }
    h6 {
        font-size: @kss-font-size * 1.75;
    }
    blockquote {
        color: @kss-colors-quotes;
        margin: 0;
        padding-left: @kss-vertical-rhythm;
        border-left: 0.5em mix(@kss-colors-quotes, @kss-colors-background, 25%) solid;
    }
    hr {
        display: block;
        height: 2px;
        border: 0;
        border-top: 1px solid lighten(@kss-colors-foreground, 60%);
        border-bottom: 1px solid darken(@kss-colors-background, 10%);
        margin: @kss-vertical-rhythm 0;
        padding: 0;
    }
    pre,
    code,
    kbd,
    samp {
        font-family: @kss-font-code;
        color: mix(@kss-colors-foreground, @kss-colors-heading, 50%);
        font-size: 14px;
        line-height: 1.4;
    }
    pre {
        white-space: pre;
        overflow: scroll;
        padding: 6px 0;
    }
    ins {
        color: @kss-colors-heading;
        background: #ff9;
        text-decoration: none;
    }
    mark {
        color: @kss-colors-heading;
        background: #ff0;
        font-weight: bold;
    }
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }
    ul,
    ol {
        margin: @kss-vertical-rhythm 0;
        padding: 0 0 0 @kss-vertical-rhythm;
    }
    li p:last-child {
        margin: 0;
    }
    dd {
        margin: 0 0 0 @kss-vertical-rhythm;
    }
    img {
        max-width: 100%;
        border: 0;
        -ms-interpolation-mode: bicubic;
        vertical-align: middle;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    td {
        vertical-align: top;
    }
    @media print {
        a,
        a:visited {
            text-decoration: underline;
        }
        hr {
            height: 1px;
            border: 0;
            border-bottom: 1px solid black;
        }
        a[href]:after {
            content: " (" attr(href) ")";
        }
        a[href^="javascript:"]:after,
        a[href^="#"]:after {
            content: "";
        }
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
        pre,
        blockquote {
            border: 1px solid #999;
            padding-right: 1em;
            page-break-inside: avoid;
        }
        tr,
        img {
            page-break-inside: avoid;
        }
        img {
            max-width: 100% !important;
        }
        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }
        h2,
        h3 {
            page-break-after: avoid;
        }
    }
}

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------
#kss-node {
    margin: 0;
    padding: 20px;

    * {
        box-sizing: border-box;
    }

    @media screen and (min-width: 769px) {
        padding: 0;
        display: flex;
        flex-wrap: none;

        .kss-main,
        .kss-sidebar {
            
        }
    }
    .kss-main {
        width: 100%;
        margin: 0 auto;
        background: #fff;

        @media screen and (min-width: 769px) {
            width: 80%;
            padding: 0 40px 0 120px;
        }
    }
    .kss-sidebar {
        border-bottom: 1px solid #ddd;
        background: #fafafa;

        @media screen and (min-width: 769px) {
            width: 20%;
            padding: 0 20px;
            border-right: 1px solid rgba(0,0,0,.07);
        }
    }
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------
#kss-node {
    .kss-doc-title {
        @media screen and (min-width: 769px) {
            font-size: 1.5em;
        }
    }
    .kss-chrome-logo {
        width: 60px;
        height: 60px;
    }
    .kss-header,
    .kss-nav {
        @media screen and (min-width: 769px) {
            margin-top: 2em;
        }
    }
    .kss-header {
        display: flex;
        align-items: center;

        .kss-doc-title {
            margin: 0 0 0 20px;
        }
    }
    .kss-nav__menu {
        margin-top: 0;
        margin-bottom: (@kss-vertical-rhythm/2);
        padding: 0;
        list-style-type: none;
    }

    .sticky {
        top: 0;
        position: fixed;
    }
    .kss-nav__menu-item {
        display: inline-block;
        padding-right: @kss-vertical-rhythm;
        font-size: 14px;
        margin-bottom: 5px;

        .kss-nav__menu-item {
            margin-bottom: 0;
        }

        a {
            color: #364149;

            &:hover {
                color: #008cff;
            }
        }

        @media screen and (min-width: 769px) {
            display: list-item;
            padding-right: 0;
        }
    }
    .kss-nav__menu-child {
        display: none;
        @media screen and (min-width: 769px) {
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 0 0 0 10px;
            // @TODO: The ul is output even when there are no children. Fix this, so
            // we can put these :first-child and :last child styles back on the ul.
            li:first-child {

            }
            li:last-child {
                margin: 0;
                padding: 0 0 10px;
            }
        }
    }
    .kss-nav__ref {
        color: #364149;
        display: inline-block;
        margin-right: 6px;
    }
    .kss-nav__menu-child .kss-nav__ref {
        font-weight: normal;
    }
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------
#kss-node {
    iframe {
        width: 100%;
        border: 1px solid #ddd;
        height: 100%;
    }
    .kss-section {
        max-width: 100%;
        margin-bottom: 70px;
    }
    .kss-title {
        margin-bottom: 0;
    }
    .kss-title__ref {
        display: block;
        font-size: @kss-font-size;
        line-height: @kss-font-size;
        color: #666;
        &:before {
            content: 'Section ';
        }
    }
    .kss-title__permalink {
        display: block;
        color: #000;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: @kss-colors-link;
            @media screen and (min-width: 607px) {
                .kss-title__permalink-hash {
                    display: inline;
                }
            }
        }
    }
    .kss-title__permalink-hash {
        display: none;
        color: #ccc;
    }
    .kss-parameters {
        display: table;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }
    .kss-parameters__item {
        display: table-row;
    }
    .kss-parameters__name {
        display: table-cell;
        padding-right: 20px;
    }
    .kss-parameters__description {
        display: table-cell;
    }
    .kss-modifier__wrapper {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0 0 40px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .kss-modifier__heading {
        // margin: -10px -10px 10px -10px;
        // padding: 10px;
        // border-bottom: 1px solid #ccc;
        // background-color: #eee;
        // font-weight: bold;
    }
    .kss-modifier__default-name {
        font-weight: bold;
        margin-bottom: (@kss-vertical-rhythm / 2);
    }
    .kss-modifier__name {
        float: left;
        padding-right: 10px;
        font-weight: bold;
    }
    .kss-modifier__description {
        margin-bottom: (@kss-vertical-rhythm / 2);
    }
    .kss-modifier__example {
        clear: left;
        padding: 1px 0; // Contain the example's margins.
        margin: 0 0 70px 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .kss-code__name{
        float: none;
        margin: 0 0 10px 0;
        font-weight: bold;
    }
    .kss-resizable {
        width: 425px;
        height: 500px;
        min-width: 320px !important;
        min-height: 320px !important;
        margin-top: 44px;
        position: relative;
        // transition: width ease 0.1s;
    }
    .kss-resizerHoriz {
        position: absolute;
        width: 21px;
        right: -23px;
        // background: linear-gradient(to right,  #eee 0%,#fafafa 50%,#fafafa 100%);

        color: #dcdcdc;
        font-size: 23px;
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        padding-top: 3px;
        height: calc(100% - 6px);
        top: 1px;
        text-align: center;
        transition: background linear .1s, color linear .1s;
        border-radius: 3px;

        &:hover {
            cursor: ew-resize;
            // background: linear-gradient(to right,  #ccc 0%,#fafafa 90%,#fafafa 100%);
            background: lighten(#4183c4, 30%);
            color: #fff;
        }
        &:after {
            content: '||';
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 5px;
        }
    }

    .kss-iframe-dimension {
        position: absolute;
        left: 0;
        margin: auto;
        width: 230px;
        top: -32px;
        font-size: 15px;
    }

    .kss-width,
    .kss-height {
        width: 60px;
        text-align: center;
        font-size: 14px;
        padding: 0 6px;
        border: 1px solid #dcdcdc;
        border-radius: 2px;
    }

    .kss-resizerVert {
        position: absolute;
        width: 100%;
        // background: linear-gradient(to bottom, #eee 0, #fafafa 50%, #fafafa 100%);
        color: #dcdcdc;
        font-size: 23px;
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        padding-top: 3px;
        height: 21px;
        text-align: center;
        transition: background linear .1s, color linear .1s;
        bottom: -22px;
        border-radius: 3px;

        &:hover {
            cursor: ns-resize;
            // background: linear-gradient(to bottom,  #ccc 0%,#fafafa 90%,#fafafa 100%);
            background: lighten(#4183c4, 30%);
            color: #fff;
        }
        &:after {
            content: '||';
            position: absolute;
            top: 50%;
            margin-top: -12px;
            transform: rotate(90deg);
        }
    }
    .kss-resizerHoriz-width {
        position: absolute;
        color: #444;
        right: -50px;
        font-size: 15px;
        margin-top: 4px;
        width: 200px;
        top: -26px;
        text-align: right;
        right: 34px;
    }
    button.kss-style {
        background: #fff;
        border: 0;
        color: #dcdcdc;
        font-size: 14px;
        padding: 0px 10px 0px;
        margin: 0 5px;
        border-radius: 4px;
        height: 26px;
        transition: background linear .1s, color linear .1s;

        &:hover {
            background: lighten(#4183c4, 30%);
            color: #fff;
            cursor: pointer;
        }
    }
    .kss-markup {
        margin: -1px 0 @kss-vertical-rhythm 0;
    }
    .kss-markup pre {
        margin: 0;
    }
    .kss-github {
        display: none;
        @media screen and (min-width: 501px) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }
        img {
            border: 0;
        }
    }
    // ------------------------------------------------------------------------------
    //   @group prettyprint.js styling
    // ------------------------------------------------------------------------------
    /* Pretty printing styles. Used with prettify.js. */
    /* SPAN elements with the classes below are added by prettyprint. */
    .prettyprint {
        background: #1d1f21;
        font-family: Menlo,
          "Bitstream Vera Sans Mono",
          "DejaVu Sans Mono",
          Monaco,
          Consolas,
          monospace;
          border: 0 !important;
    }
    .pln {
        color: #c5c8c6;
    }

    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        color: #969896;
    }
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L4,
    li.L5,
    li.L6,
    li.L7,
    li.L8,
    li.L9 {
        padding-left: 1em;
        background-color: #1d1f21;
        list-style-type: decimal;
    }
    @media screen {
        /* string content */

        .str {
            color: #b5bd68;
        }
        /* keyword */

        .kwd {
            color: #b294bb;
        }
        /* comment */

        .com {
            color: #969896;
        }
        /* type name */

        .typ {
            color: #81a2be;
        }
        /* literal value */

        .lit {
            color: #de935f;
        }
        /* punctuation */

        .pun {
            color: #c5c8c6;
        }
        /* lisp open bracket */

        .opn {
            color: #c5c8c6;
        }
        /* lisp close bracket */

        .clo {
            color: #c5c8c6;
        }
        /* markup tag name */

        .tag {
            color: #cc6666;
        }
        /* markup attribute name */

        .atn {
            color: #de935f;
        }
        /* markup attribute value */

        .atv {
            color: #8abeb7;
        }
        /* declaration */

        .dec {
            color: #de935f;
        }
        /* variable name */

        .var {
            color: #cc6666;
        }
        /* function name */

        .fun {
            color: #81a2be;
        }
    }

}
