// Generate class based grid - disabled by default

.l-row {
    @include grid-row();
}

.l-row--centered {
    @include grid-row('center');
}

@include media($bp-small) {
    @for $i from 1 through $grid-columns {
        .l-grid-small-#{$i}of#{$grid-columns} {
            @include span-column(#{$i}/#{$grid-columns});
        }
    }
}

@include media($bp-medium) {
    @for $i from 1 through $grid-columns {
        .l-grid-medium-#{$i}of#{$grid-columns} {
            @include span-column(#{$i}/#{$grid-columns});
        }
    }
}

@include media($bp-medium) {
    @for $i from 1 through $grid-columns {
        .l-grid-large-#{$i}of#{$grid-columns} {
            @include span-column(#{$i}/#{$grid-columns});
        }
    }
}

body.kss-node {
    padding: 0;
    margin: 0;

    .body-wrapper {
        display: block;
        min-height: 100%;

        .kss-main {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: $g-color-main-bg;
        }

        .kss-sidebar {
            width: 100%;
            padding: 0 20px;
            margin: 0;
            background-color: $g-color-body-bg;
            border-bottom: 1px solid #ddd;
        }
    }

    @media screen and (min-width: 769px) {
        padding: 0;

        .body-wrapper {
            display: flex;
            align-items: stretch;
            flex-direction: row;
            min-height: 100%;

            .kss-main {
                width: 80%;
                padding: 0;
                margin: 0;
            }

            .kss-sidebar {
                width: 20%;
                min-width: 300px;
                padding: 0;
                margin: 0;
                border: 0;
            }
        }
    }
}
